#cpu-show{
  display: none;
}

#player2-show{
  display: none;
}

#playAgain{
  display: none;
}

#passDice-show{
  display: none;
}

.container{
  background-color: teal;
}

.row{
  padding: 10px;
}


p{
  font-size: 20px;
}

.resultBox{
  border-style: groove;
  border-width: 2px;
  border-color: black;
  background-color: white;
  width: 40px;
  padding-left: 5px;
}
#whole-section{
  display: none;
}
